<footer>
	<div class="footer_img_facade" alt="Photographie_facade"></div>
	<div class="footer_container">
		<div class="footer_content">
			<div class="footer_container_cabinet">
				<div class="footer_content_cabinet">
					<h4>Le cabinet</h4>
					<ul>
						<li>53 rue Albert Vanderhaeghen</li>
						<li>59320 Haubourdin</li>
						<li>Tél: 03.20.95.47.56</li>
						<li>rdvchirocharlotte@gmail.com</li>
					</ul>
					<a href="{{ path('appointments_index' )}}" class="btn_footer">PRENDRE RENDEZ-VOUS directement en ligne</a>
				</div>
			</div>
			<div class="footer_map_container">
				<div id="map"></div>
			</div>
			<div class="footer_container_info">
				<div class="footer_content_info">
					<h4>Informations complémentaires</h4>
					<div>
						<ul>
							<li>Moyen de transport
							</li>
							<li>Bus - Europe (ligne 63)</li>
							<li>Bus - Vanderhaeghen (ligne 54,12 et 58)</li>
							<li>Bus - J.Luxembourg (ligne 54)</li>
						</ul>
						<ul>
							<li>Parking public</li>
							<li>16 rue d'athènes , Haubourdin</li>
							<li>Accès Handicapé</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer_container_logo">
		<div class="footer_content_logo">
			<img src="/assets/images/logo-afc.png" alt="Association Française de Chiropraxie">
			<img src="/assets/images/LOGO-IFEC-BLEU-centre.png" alt="Institut franco-européen de chiropraxie">
			<img src="/assets/images/etnat.jpg" alt="Ecole de phytothérapie">
		</div>
	</div>
	<div class="bg-lavender-top">
		<div class="footer_container_links">
			<div class="footer_content_links">
				<ul>
					<li><a href="/">Accueil</a></li>
					<li><a href="">La chiropraxie</a></li>
					<li><a href="">Votre chiropracteur</a></li>
					<li><a href="">Les soins</a></li>
					<li><a href="">Rembousements</a></li>
					<li><a href="">Prix et tarifs</a></li>
					<li><a href="">FAQ</a></li>
					<li><a href="">Contact</a></li>
				</ul>
			</div>
			<div class="footer_content_i">
				<a href="https://www.facebook.com/profile.php?id=100061258164897">
					<i class="fa-brands fa-facebook"></i>
				</a>
				<a href="https://instagram.com/chiro_charlotte_vandermersch?igshid=YmMyMTA2M2Y=">
					<i class="fa-brands fa-instagram"></i>
				</a>
			</div>
		</div>
	</div>
	<div class="bg-lavender">
		<div class="footer_end">
			<div class="footer_content_end">
				<span>
					<a href="">RGPD</a>
				</span>
				<span>
					<a href="">Mentions légale</a>
				</span>
				<span>
					Site crée par boule et bill</span>
				<span>
					Copyright © 2023</span>
			</div>
		</div>
	</div>
</footer>
