{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="/assets/css/_partials/form.css">
{% endblock %}
{% block javascripts %}
	<script src="/assets/js/appointment.js" defer></script>
{% endblock %}

{% block title %}Réinitialisation de mot de passe
{% endblock %}

{% block body %}

	<div class="container">
		<div class="content">
			<div class="formResetPassword">
				<h1>Réinitialisation de mot de passe</h1>
				{{ form_start(passForm) }}
				{{ form_row(passForm.password) }}
				<button type="submit" class="btn">Envoyer</button>
				{{ form_end(passForm) }}
			</div>
		</div>
	</div>

{% endblock %}
