{% extends 'base.html.twig' %}
{% block javascripts %}
	<script src="/assets/js/appointment.js" defer></script>
{% endblock %}

{% block title %}Réinitialisation de mot de passe
{% endblock %}

{% block body %}
	<h1>Réinitialisation de mot de passe</h1>
   <div class="requestform">
   {{ form_start(requestPassForm) }}
   {{ form_row(requestPassForm.email) }}
    <button type="submit" class="btn">Envoyer</button>
   {{ form_end(requestPassForm) }}
   </div>

{% endblock %}
