{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	{# <div class="loader">
			<span class="letter">C</span>
			<span class="letter">H</span>
			<span class="letter">A</span>
			<span class="letter">R</span>
			<span class="letter">G</span>
			<span class="letter">E</span>
			<span class="letter">M</span>
			<span class="letter">E</span>
			<span class="letter">N</span>
			<span class="letter">T</span>
		</div> #}
	<div class="home_container">
		<div class="home_content">
			<div class="home_content-filter"></div>
			<div class="home_content-text">
				<span>Charlotte Vandermersch</span>
				vous accueille<br>
				du lundi au vendredi<br>
				<span>
					53 rue Albert Vanderhaeghen<br>
					59320 Haubourdin
				</span>
			</div>
		</div>
	</div>
	<div class="quote_container">
		<div class="quote_content">
			<div>
				<span class="quote_content-quote">"</span>
				<span class="quote_content-text">Le médecin du futur ne donnera aucun médicament, mais intéressera ses patients au soin de la charpente humaine, à l'alimentation, à la cause et à la prévention de la maladie.</span>
				<span class="quote_content-quote">"</span>
			</div>
		</div>
	</div>
	<div class="about_container">
		<div class="about_content">
			<h2 class="about_content-title">Votre chiropracteur</h2>
			<div class="about_content-photos">
				<div class="about_content-photos-1"></div>
				<div class="about_content-photos-2"></div>
				<div class="about_content-photos-3"></div>
			</div>
			<div class="about_content-text">
				<p>
					Diplômée en chiropratique depuis 2012, j’ai créé le cabinet d’Haubourdin en 2013 en parallèle de mon travail de collaboratrice à Boulogne-sur-Mer chez Delphine TOURRET.
				</p>
				<p>
					J'ai une vision globale du corps et j'aime faire le lien entre celui-ci et les émotions, car ils sont étroitement liés. 			Pouvoir apporter un soutien sur le plan physique par la chiropraxie et sur le plan émotionnel par l’utilisation des plantes est un moyen pour moi d’être une professionnelle qui regarde tous les aspects de votre personne. C’est la raison pour laquelle vous venez me voir au cabinet.
				</p>
				<a href="{{ path('page_chiropractor') }}" class="btn readMore">EN SAVOIR PLUS</a>
			</div>
		</div>
	</div>
	<div class="separator-photos">
		<div class="separator-photo"></div>
		<div class="separator-photo"></div>
		<div class="separator-photo"></div>
		<div class="separator-photo"></div>
		<div class="separator-photo"></div>
		<div class="separator-photo"></div>
	</div>
	<div class="forWhom_container">
		<div class="forWhom_content">
			<h2 class="forWhom_content-title">A qui s'adresse la chiropraxie ?</h2>
			<p class="forWhom_content-text">
				<strong>Du nouveau-né à la personne âgée, il n’y a pas d’âge.</strong>
			</p>
			<ul class="forWhom_content-text">
				<li>
					<i class="fa-brands fa-pagelines"></i>Douleurs aiguës ou chroniques du cou, dos, articulations;</li>
				<li>
					<i class="fa-brands fa-pagelines"></i>Sciatique - Migraines - Vertiges - Arthrose - Tendinites - Maux de tête</li>
				<li>
					<i class="fa-brands fa-pagelines"></i>Affectations des disques intervertébraux</li>
				<li>
					<i class="fa-brands fa-pagelines"></i>Inconforts et/ou douleurs lors de la grossesse en post-partum</li>
				<li>
					<i class="fa-brands fa-pagelines"></i>Déformations crâniennes</li>
				<li>
					<i class="fa-brands fa-pagelines"></i>Difficultés d'allaitement</li>
				<li>
					<i class="fa-brands fa-pagelines"></i>Problématiques digestives chez les nourrissons, troubles de la succion</li>
				<li>
					<i class="fa-brands fa-pagelines"></i>Croissance</li>
				<li>
					<i class="fa-brands fa-pagelines"></i>Dysfonctionnement de la mâchoire</li>
				<li>
					<i class="fa-brands fa-pagelines"></i>Torticolis - Tensions musculaires</li>
				<li>
					<i class="fa-brands fa-pagelines"></i>Mauvaises postures</li>
				<li>
					<i class="fa-brands fa-pagelines"></i>Douleurs et dysfonctions des extrémités: coxarthrose, gonarthrose, syndrome rotulien, entorse, syndrôme du canal carpien/ de guyon, douleurs d’épaule…</li>
			</ul>

		</div>
	</div>
{% endblock %}
