{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="home_container">
        <div class="home_content">
            <div class="home_content-filter"></div>
            <div class="home_content-text">
                <span>Charlotte Vandermersch</span>
                vous accueille<br>
                du lundi au vendredi<br>
                <span>
                    53 rue Albert Vanderhaeghen<br>
                    59320 Haubourdin
                </span>
            </div>
        </div>
    </div>
    <div class="quote_container">
        <div class="quote_content">
            <p>
            <span class="quote_content-quote">"</span>
            <span class="quote_content-text">Fais de ta vie un rêve et d'un rêve une réalité.</span>
            <span class="quote_content-quote">"</span>
            </p>
        </div>
    </div>
    <div class="about_container">
        <div class="about_content">
            <h2 class="about_content-title">Votre chiropracteur</h2>
            <div class="about_content-photos">
                <div class="about_content-photos-1"></div>
                <div class="about_content-photos-2"></div>
                <div class="about_content-photos-3"></div>
            </div>
            <div class="about_content-text">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate illo expedita earum ipsam, 
                deleniti numquam? Et, voluptas saepe laboriosam minima tempora numquam reprehenderit cumque vero 
                laudantium expedita doloribus. Facilis, commodi!</p>
                <p>Dolorum placeat quas delectus molestiae vero nisi libero adipisci explicabo, recusandae nesciunt, 
                necessitatibus tempore repellat. Dolor ratione iusto aut ducimus, quibusdam dolores, impedit eius provident 
                reiciendis eum atque voluptas! Fugit!</p>
                <div class="btn readMore">EN SAVOIR PLUS</div>
            </div>
        </div>
    </div>
    <div class="separator-photos">
        <div class="separator-photo"></div>
        <div class="separator-photo"></div>
        <div class="separator-photo"></div>
        <div class="separator-photo"></div>
        <div class="separator-photo"></div>
        <div class="separator-photo"></div>
    </div>
    <div class="forWhom_container">
        <div class="forWhom_content">
            <h2 class="forWhom_content-title">A qui s'adresse la chiropraxie ?</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate illo expedita earum ipsam, 
                deleniti numquam? Et, voluptas saepe laboriosam minima tempora numquam reprehenderit cumque vero 
                laudantium expedita doloribus. Facilis, commodi!</p>
                <p>Dolorum placeat quas delectus molestiae vero nisi libero adipisci explicabo, recusandae nesciunt, 
                necessitatibus tempore repellat. Dolor ratione iusto aut ducimus, quibusdam dolores, impedit eius provident 
                reiciendis eum atque voluptas! Fugit!</p>
        </div>
    </div>
{% endblock %}
