{% extends 'admin/base.html.twig' %}

{% block title %}New DaysOff
{% endblock %}

{% block body %}
	<h1>Create new DaysOff</h1>

	{{ include('admin/days_off/_form.html.twig') }}

	<a href="{{ path('daysOff_index') }}">Retour</a>
{% endblock %}
