<form method="post" action="{{ path('daysOn_delete', {'id': days_on.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce jour ouvré ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ days_on.id) }}">
	<button class="btn-delete">
		<i class="fa-solid fa-trash-can"></i>
	</button>
</form>
