{% extends 'base.html.twig' %}

{% block title %}FAQ
{% endblock %}

{% block body %}
	<div class="container">
		<div class="content">
			<h1>Foires aux questions</h1>
			<p>Vous trouverez ici les réponses aux questions les plus fréquemment posées.</p>
			<h5>Quel est votre diplôme ?</h5>
			<p>
				Une formation de 6 années à temps plein après le baccalauréat, soit  plus de 5500 heures universitaires.<br>
				On y apprend les sciences fondamentales, biomécaniques et chiropratiques, et par-dessus tout, un geste spécifique indolore et précis : l’ajustement chiropratique.<br>
				Des stages en clinique, en cabinet chiropratique, ainsi qu’un mémoire de fin d’études finalisent la formation et permettent l’obtention du diplôme.<br>
				La formation est reconnue et accréditée du ministère Américain et Européen de l’éducation, d’où notre titre « Doctor of Chiropractic ».
			</p>
			<h5>Quelle est la différence entre la chiropraxie et l'ostéopathie ?</h5>
			<p>
				Notre formation est de 6 ans à temps plein. Contrairement aux ostéopathes où il faut chercher et vérifier leur formation/leur diplôme/leur durée de formation.<br>
				Et au niveau législatif, certaines différences sont à mettre en évidence; Selon les décrets d’application (Décret n° 2011-32 du 7 janvier 2011 relatif aux actes et aux conditions d’exercice de la chiropraxie) :
			</p>
			<table>
				<thead>
					<tr>
						<th>Actes</th>
						<th>Chiropraxie</th>
						<th>Ostéopathie</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Mobilisations</td>
						<td>Autorisées</td>
						<td>Autorisées</td>
					</tr>
					<tr>
						<td>Mobilisations non forcées</td>
						<td>Autorisées</td>
						<td>Autorisées</td>
					</tr>
					<tr>
						<td>Mobilisations avec vecteur de force</td>
						<td>Autorisées</td>
						<td>Interdit</td>
					</tr>
					<tr>
						<td>Mobilisations et manipulations instrumentales</td>
						<td>Autorisées</td>
						<td>Interdit</td>
					</tr>
					<tr>
						<td>Mobilisations et manipulations mécaniquement assistées</td>
						<td>Autorisées</td>
						<td>Interdit</td>
					</tr>
					<tr>
						<td>Manipulations non forcées des cervicales</td>
						<td>
							<span>Sans avis</span>médical
						</td>
						<td>
							<span>Seulement sous</span>
							avis médical
						</td>
					</tr>
					<tr>
						<td>Manipulations avec vecteur de force ou instrumentales des cervicales</td>
						<td>Autorisées
							<span>Sans</span>
							avis médical</td>
						<td>Interdit</td>
					</tr>
					<tr>
						<td>Possibilité de donner des conseils à visée antalgique</td>
						<td>Autorisées</td>
						<td>Interdit</td>
					</tr>
					<tr>
						<td>Traitement des troubles fonctionnels</td>
						<td>Autorisées</td>
						<td>Autorisées</td>
					</tr>
					<tr>
						<td>Traitement de troubles de l'appareil locomoteur et de leurs conséquences</td>
						<td>Autorisées</td>
						<td>Interdit</td>
					</tr>
				</tbody>
			</table>
			<p>
				Ainsi, les ostéopathes réalisant des manipulations vertébrales forcées, utilisant des tables mécaniquement assistées ou des instruments, font un acte illégal. Si un accident survient, aucune assurance ne couvrira les dommages.<br>
				Pour plus d’informations vous pouvez consulter le site Légifrance :<br>
				<a href="">Décret n°2011-32 du 7 janvier 2011 relatif aux actes et aux conditions d'exercice de la chiropraxie</a>
				<a href="">Décret n°2007-435 du 25 mars 2007 relatif aux actes et aux conditions d'exercice de l'ostéopathie</a>
			</p>

		</div>
	</div>
{% endblock %}
