body {
  position: relative;
  height: 100vh;
  width: 100vw;
}
h1.admin {
  font-size: 22px;
  padding: 18px 0;
  text-align: left;
}
/* Header administration */
.header_logo {
  margin-top: 0;
  height: 40px;
  justify-content: center;
}
.header_logo:hover {
  cursor: pointer;
}
.header_logo-img {
  height: 40px;
  width: 40px;
}
.header_logo-text {
  width: 70%;
  height: 40px;
  padding: 20px 0;
}
.header_logo-text span.profession,
.header_logo-text img {
  display: none;
}
/* Menu de l'administration */
.menu_container {
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0;
  background-color: #284a6d;
  z-index: 1000;
}
.menu_content {
  width: 100%;
}
.menu_items {
  list-style: none;
  color: white;
  display: flex;
  flex-direction: row;
  height: 50px;
  line-height: 50px;
}
.menu_content a {
  text-decoration: none;
  color: white;
}
.menu_item {
  width: 20%;
  text-align: center;
  border-right: 1px solid #ddd;
}
.menu_item:hover,
.submenu_item:hover {
  background-color: var(--main-color-blue);
  cursor: pointer;
}
.menu_item span {
  display: none;
}
.parameter_items,
.tools_items {
  width: 100%;
  display: none;
  position: absolute;
  left: 0px;
  bottom: 52px;
  background-color: #284a6d;
  text-align: left;
}
.submenu_open {
  display: block;
}
.submenu_item {
  padding-left: 18px;
  line-height: 50px;
}

/*  HOME */
.home_container {
  background-color: red;
  height: 600px;
}

/* index cares user admin */
.btn-trash {
  border: none;
}

.btn_action {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media screen and (min-width: 678px) {
  .parameter_items,
  .tools_items {
    width: 20%;
  }
}

@media screen and (min-width: 900px) {
  body {
    height: 100vh;
  }
}
@media screen and (min-width: 1200px) {
  body {
    height: 100vh;
  }
  .container {
    display: flex;
    flex-direction: row;
    height: calc(100% - 42px);
  }
  .content {
    width: 80%;
  }
  .menu_container {
    position: relative;
    width: 20%;
  }
  .menu_container .gradient-color-bar {
    display: none;
  }
  .menu_items {
    flex-direction: column;
    height: 100%;
    line-height: 50px;
  }
  .menu_item {
    width: 100%;
    text-align: left;
    padding-left: 18px;
    border-bottom: 1px solid #ddd;
  }
  .menu_item span {
    display: inline-block;
  }
  .submenu {
    display: block;
    list-style: none;
    padding-left: 18px;
    padding-bottom: 18px;
  }
  .submenu_item {
    line-height: 25px;
  }
  .submenu_item:hover {
    cursor: pointer;
  }
  .menu_item.parameters:hover,
  .menu_item.tools:hover{
  background-color: transparent;
}
  .parameter_items,
.tools_items {
  width: auto;
  display: block;
  position: relative;
  left: auto;
  bottom: auto;
  background-color: #284a6d;
  text-align: left;
}
  /* index user admin */
  .table_admin,
  .table_admin_show {
    margin: 0 auto;
    border-collapse: collapse;
  }
  .table_admin tr td {
    border: 1px solid #ddd;
    padding: 9px;
  }
  .btn_index_admin {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .thead_admin th {
    padding: 8px;
    border: 1px solid var(--main-color-purple);
    background-color: var(--main-color-purple);
    color: white;
  }
  .tbody_admin tr:nth-of-type(even) {
    background-color: #ddd;
  }
  .tbody_admin .btn_action a,
  .tbody_admin .btn_action form {
    padding: 0 5px;
  }
  .tbody_show {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
  }
  .tbody_show th {
    padding-right: 10px;
  }
  .a_back_cares {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #users {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .pagination_admin {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pagination_admin span {
    display: inline-block;
    width: 40px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 2px;
  }
  .pagination_admin span.current {
    background-color: var(--main-color-purple);
    color: white;
  }
}
