body {
  position: relative;
  height: 100vh;
  width: 100vw;
}
h1.admin {
  font-size: 22px;
  padding: 18px 0;
  text-align: left;
}
/* Header administration */
.header_logo {
  margin-top: 0;
  height: 40px;
  justify-content: center;
}
.header_logo-img {
  height: 40px;
  width: 40px;
}
.header_logo-text {
  width: 70%;
  height: 40px;
  padding: 20px 0;
}
.header_logo-text span.profession,
.header_logo-text img {
  display: none;
}
/* Menu de l'administration */
.menu_container {
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0;
  background-color: #284a6d;
  z-index: 1000;
}
.menu_content {
  width: 100%;
}
.menu_items {
  list-style: none;
  color: white;
  display: flex;
  flex-direction: row;
  height: 50px;
  line-height: 50px;
}
.menu_content a {
  text-decoration: none;
  color: white;
}
.menu_item {
  width: 15%;
  text-align: center;
  border-right: 1px solid #ddd;
}
.menu_item span {
  display: none;
}
.parameter_items {
  display: none;
}
/*  HOME */
.home_container {
  background-color: red;
  height: 600px;
}
@media screen and (min-width: 900px) {
}
@media screen and (min-width: 1200px) {
  body {
    height: 100vh;
  }
  .container {
    display: flex;
    flex-direction: row;
    height: calc(100% - 42px);
  }
  .menu_container {
    position: relative;
    width: 20%;
  }
  .menu_container .gradient-color-bar {
    display: none;
  }
  .menu_items {
    flex-direction: column;
    height: 100%;
    line-height: 50px;
  }
  .menu_item {
    width: 100%;
    text-align: left;
    padding-left: 18px;
    border-bottom: 1px solid #ddd;
  }
  .menu_item span {
    display: inline-block;
  }
  .submenu {
    display: block;
    list-style: none;
    padding-left: 18px;
    padding-bottom: 18px;
  }
  .submenu_item {
    line-height: 25px;
  }
  .submenu_item:hover {
    cursor: pointer;
  }
}
