.form_appointment-form {
  border: 2px solid red;
}
.form_appointment {
  visibility: visible;
  height: 50px;
  font-size: 14px;
}
.container_appointment {
  padding: 0 18px;
}
input[type="search"].admin {
  border-radius: 10px 10px 0 0;
  margin-bottom: 0;
}
ul.form-control {
  border-top: 0;
  border-radius: 0 0 10px 10px;
  background-color: white;
  list-style: none;
}
@media screen and (min-width: 1200px) {
  .modal_content {
    width: 300px;
    height: 500px;
  }
}
