.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}
.modal_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem;
  width: 80%;
  height: 80%;
  border-radius: 5px;
}
.form_appointment-form {
  border: 2px solid red;
}
.form_appointment {
  visibility: visible;
  height: 50px;
  font-size: 14px;
}
.container_appointment {
  padding: 0 18px;
}
@media screen and (min-width: 1200px) {
  .modal_content {
    width: 300px;
    height: 500px;
  }
}
