#calendar {
  width: calc(100% - 16px);
  margin: 0 8px;
  height: 500px;
}
.icon-menu-calendar {
  color: var(--main-color-purple);
  text-align: end;
}
.icon-menu-calendar i {
  font-size: 1.5rem;
  padding: 8px;
}
.fc-header-toolbar {
  margin-top: 8px;
}
h2.fc-toolbar-title {
  text-transform: uppercase;
}
.fc-toolbar-chunk:nth-of-type(2) {
  width: 40%;
}
.fc-toolbar-chunk:nth-of-type(3) {
  display: none;
}
.fc-toolbar-chunk:nth-of-type(3).open-menu-calendar-mobile {
  display: flex;
  position: absolute;
  left: 8px;
  top: 50px;
}
.fc-event-time {
  font-weight: bold;
}
@media screen and (min-width: 900px) {
  #calendar {
    width: calc(100% - 36px);
    margin: 18px;
    height: 100%;
  }
  .fc-toolbar-chunk:nth-of-type(3) {
    display: block;
  }
  .icon-menu-calendar {
    display: none;
  }
  tbody tr {
    height: 25px;
  }
}
@media screen and (min-width: 1200px) {
  #calendar {
    width: 80%;
    height: calc(100% - 36px);
  }
  .fc-list-day-cushion {
    display: flex;
    flex-direction: row;
    justify-content: left;
  }
  .fc-list-day-text {
    padding-right: 6px;
  }
  .fc-list-day-text::first-letter {
    text-transform: uppercase;
  }
}
