
.cares_form,.btn_delete_cares_show,.a_back_cares{
    margin: 20px;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
   padding: 10px; 
}
/* css pour la partie show */
/* .btn_delete_cares,{ 
    padding: 10px;
    display: flex;
   justify-content: center;
} */

.table_cares_show{
    border-spacing: 15px;

}



.btn_indexcares{
    display: flex;
    align-items: center;
    justify-content: center;
   padding: 10px;
}

/* formulaire */
.btn_form{
    margin-top: 10px;
    
}

.name_cares{
    width: 200px;
    height: 25px;
}

.careform_name{
    padding-bottom: 10px;
}

.price_cares{
    width: 200px;
    height: 25px;
}
/* show edit */





   







