
.cares_form,.btn_delete_cares_show,.a_back_cares{
    margin: 20px;
}
/* index */
.table{
    height: 400px;
    text-align:center;
    margin: 0 auto;
}

.btn_index_cares{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

} 
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.btn_action{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btn-trash{
    border: none;
}
/* show */
.table_cares_show{
    border-spacing: 15px;
    
}

.table_cares_show td{
    align-self: left;
    border: none;

}

.careform_duration div{
    display: flex;
    flex-direction: row;
}

.careform_price{
    padding-bottom: 10px;
}




/* formulaire */
.btn_form{
    margin-top: 10px;
    
}

.name_cares{
    width: 200px;
    height: 25px;
}


.price_cares{
    width: 200px;
    height: 25px;
}

.duration_cares{
    height: 25px;
}

.careform_duration
{
    margin-top: 10px;
}

.careform_color{
    margin-top: 10px;
}


@media screen and (min-width: 1000px){
.cares_container{
    width: 80%;
}

.table{
    margin: 0 auto;
}

.table_cares_show{
    margin: 0 auto;
}
.btn_delete_cares_show,.a_back_cares
{
    display: flex;
    align-items: center;
    justify-content: center;
}


.cares_form{
    display:flex;
    justify-content: center;
    height: 200px;
   
}

.btn_form{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}



.table,tr,td{
    border:1px solid var(--main-color-purple);
    border-collapse: collapse;
}


h1{
    padding: 30px;
}

thead th{
    padding: 8px;
}


}




   







