{% extends '/admin/base.html.twig' %}

{% block title %}Edition des Utilisateurs{% endblock %}

{% block body %}
    <div class="container">
    {% include('admin/_partials/_menu.html.twig') %}
    <div class="cares_container">
    <h1>Edition {{user.firstname}} {{user.lastname}}</h1>

    {{ include('admin/users/_form.html.twig', {'button_label': 'Changement'}) }}

    <div class="a_back_cares">
    <a href="{{ path('users_index') }}">Retour</a>
    </div>

    </div>
    </div>
{% endblock %}
