{% extends '/admin/base.html.twig' %}

{% block title %}Nouveau Patient{% endblock %}

{% block body %}
  <div class="container">
  {% include('admin/_partials/_menu.html.twig') %}
    <div class="cares_container">
    <h1>Creation d'un nouveau patient</h1>

    {{ include('admin/users/_form.html.twig') }}
    <div class="a_back_cares">
    <a href="{{ path('users_index') }}">Retour</a>
    </div>
    </div>
    </div>
{% endblock %}
