.faq_question {
  position: relative;
  background-color: var(--main-color-purple);
  color: white;
  line-height: 26px;
  padding: 9px 36px 9px 18px;
  font-variant: small-caps;
  font-size: 15px;
  border-bottom: 1px solid #ddd;
}
.faq_question::after {
  content: "+";
  font-weight: 900;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: white;
}
.faq_question:hover {
  cursor: pointer;
}
.faq_answer {
  display: none;
}
.faq_answer--open {
  display: block;
}
.faq_answer p {
  line-height: 22px;
  padding-bottom: 0;
}
.faq_answer p:last-child {
  padding-bottom: 18px;
}
li.faq_list_acts_thead {
  display: none !important;
}
.faq_list_acts {
  list-style: none;
  margin-top: 18px;
}
.faq_list_acts li {
  padding: 9px;
  display: flex;
  flex-direction: column;
}
.faq_list_acts li span {
  line-height: 32px;
  padding-left: 18px;
}
.faq_list_act_name {
  font-weight: bold;
  background-color: var(--main-bg-color-gray);
  color: white;
  margin-bottom: 9px;
  padding-right: 18px;
}
.name_col {
  display: inline-block;
  width: 110px;
}
.text-lavender {
  color: var(--main-color-lavender);
  font-style: normal;
  text-transform: uppercase;
}
.fa-pagelines {
  padding-right: 9px;
}
.link_out {
  color: var(--main-color-purple);
  text-decoration: none;
}
.link_out:hover {
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .container {
    min-height: 480px;
  }
  .faq_question::after {
    right: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .faq_list_act_name {
    background-color: transparent;
    color: black;
    margin-bottom: 0;
  }
  .faq_list_acts li {
    flex-direction: row;
    border: 1px solid #ddd;
    border-bottom: 0;
    padding: 0 9px;
    line-height: 22px;
  }
  .faq_list_acts li:last-child {
    border-bottom: 1px solid #ddd;
  }
  .faq_list_act_thead-col:first-child {
    text-align: center;
  }
  .faq_list_act_thead-col {
    font-variant: small-caps;
    font-weight: bold;
    font-size: 16px;
    color: var(--main-color-purple);
  }
  .name_col {
    display: none;
  }
  .faq_list_acts li span {
    line-height: 40px;
  }
  .faq_list_acts li span:first-child {
    display: inline-block;
    width: 55%;
    border-right: 1px solid #ddd;
    font-weight: normal;
  }
  .faq_list_acts li span:nth-child(2) {
    display: inline-block;
    width: 22%;
    border-right: 1px solid #ddd;
  }
  li.faq_list_acts_thead {
    display: flex !important;
  }
  span.faq_list_act_thead-col {
    font-weight: bold !important;
  }
}
