/* HOME BLOC ------------------------------------------------------------- */
.home_container {
  position: relative;
  background: url("/assets/images/cabinet-01.jpg") center/cover no-repeat;
  height: 300px;
}
.home_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(178, 96, 180, 0.4);
}
.home_content {
  position: relative;
  width: 72%;
  height: 100%;
  margin-left: 28%;
  background-image: url("/assets/images/trapeze-rectangle.png");
  background-position: left;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.home_content-text {
  position: absolute;
  right: 10%;
  top: 30%;
  height: 60%;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
  opacity: 1;
}
.home_content-text span {
  font-weight: bold;
}
/*  QUOTE BLOC --------------------------------------------------------------- */
.quote_container {
  background-color: var(--main-bg-color-purple-light);
  /* height: 80px; */
}
.quote_content {
  height: 100%;
  color: white;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 18px;
}
/* ABOUT BLOC ------------------------------------------------------------------ */
.about_container {
  width: 100%;
}
.about_content-title {
  margin-top: 30px;
  margin-bottom: 30px;
}
.about_content-photos {
  position: relative;
  width: 290px;
  height: 300px;
  margin: 0 auto;
}
.about_content-photos-1 {
  position: absolute;
  top: 0;
  left: 0;
  background: url("/assets/images/cabinet-01.jpg") center/cover no-repeat;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.about_content-photos-2 {
  position: absolute;
  top: 40px;
  left: 120px;
  background: url("/assets/images/cabinet-02.jpg") center/cover no-repeat;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 8px solid white;
}
.about_content-photos-3 {
  position: absolute;
  top: 120px;
  left: 60px;
  background: url("/assets/images/charlotte-profil.png") center/cover no-repeat;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 8px solid white;
}
.about_content-text {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 32px;
}
.btn.readMore {
  width: 166px;
  margin: 0 auto;
}
/* BLOC SEPARATOR PHOTOS ------------------------------------------------------------ */
.separator-photos {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
}
.separator-photo {
  width: 33%;
  height: 100%;
}
.separator-photo:nth-of-type(1) {
  background: url("/assets/images/sportif.webp") center/cover no-repeat;
  display: none;
}
.separator-photo:nth-of-type(2) {
  background: url("/assets/images/femme-enceinte.webp") center/cover no-repeat;
}
.separator-photo:nth-of-type(3) {
  background: url("/assets/images/adolescents.webp") center/cover no-repeat;
  display: none;
}
.separator-photo:nth-of-type(4) {
  background: url("/assets/images/pediatrie.webp") center/cover no-repeat;
}
.separator-photo:nth-of-type(5) {
  background: url("/assets/images/senior.webp") center/cover no-repeat;
}
.separator-photo:nth-of-type(6) {
  background: url("/assets/images/manipulation-02.jpg") center/cover no-repeat;
  display: none;
}
/* BLOC FORWHOM --------------------------------------------------------------------- */
.forWhom_content-title {
  margin-top: 30px;
  margin-bottom: 20px;
}
.forWhom_content {
  padding: 0 18px;
  padding-bottom: 32px;
}
ul.forWhom_content-text {
  padding: 0 18px;
}
ul.forWhom_content-text li {
  line-height: 24px;
}
@media screen and (min-width: 450px) {
  .home_content-text {
    width: 100%;
    position: relative;
    right: 0;
    top: 20%;
  }
}
@media screen and (min-width: 768px) {
  .home_content {
    width: 60%;
    margin-left: 40%;
  }
  .home_content-text {
    width: 240px;
    margin: 0 auto;
    margin-left: calc(50% - 60px);
    font-size: 14px;
  }
  .quote_container {
    height: 100px;
  }
  .quote_content {
    font-size: 16px;
  }
  .separator-photos {
    height: 150px;
  }
  .separator-photo {
    width: 25%;
    height: 100%;
  }
  .separator-photo:nth-of-type(3) {
    display: block;
  }
  .forWhom_content {
    width: 600px;
    margin: 0 auto;
  }
  p.forWhom_content-text {
    text-align: center;
  }
}
@media screen and (min-width: 998px) {
  .separator-photo:nth-of-type(6) {
    display: block;
  }
  .about_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .about_content-title {
    width: 100%;
  }
  .about_content-text {
    width: 50%;
  }
  .about_content-photos {
    margin: 0 10%;
    width: 30%;
  }
  .about_content-photos-1 {
    left: auto;
    right: 112px;
  }
  .about_content-photos-2 {
    left: auto;
    right: -8px;
  }
  .about_content-photos-3 {
    left: auto;
    right: 60px;
  }
  .about_content-text {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .home_container {
    height: 600px;
  }
  .quote_content {
    width: 1200px;
    font-size: 18px;
    margin: 0 auto;
  }
  .about_content {
    width: 1200px;
    margin: 0 auto;
  }
  .separator-photo:nth-of-type(1) {
    display: block;
  }
}
@media screen and (min-width: 1300px) {
}
