.profile_menu {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 18px;
  line-height: 50px;
}
.profile_menu_content {
  display: none;
}
.profile_menu_content--open {
  position: absolute;
  bottom: -154px; /* 50px * nb de li + px de gradient-color-bar */
  right: 0;
  display: block;
  background-color: var(--main-bg-color-purple);
  list-style: none;
  z-index: 10;
}
.profile_menu_content li {
  padding: 0 18px;
  line-height: 50px;
  text-align: left;
  color: white;
  border-bottom: 1px solid white;
}
.profile_menu_salutation {
  font-weight: bold;
  color: var(--main-color-purple);
}
.profile_menu_title {
  font-weight: bold;
  font-family: "Montserrat";
}
.profile_menu_title:hover {
  cursor: pointer;
}
.profile_list_appointments h3 {
  background-color: var(--main-bg-color-purple);
  color: white;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  text-align: left;
  padding-left: 18px;
}
.profile_list_appointments ul {
  list-style: none;
  padding: 0;
}
.btn.btn_cancel_appointment {
  margin: 12px auto;
  width: fit-content;
  height: 30px;
  line-height: 30px;
}
.profile_list_appointments li {
  text-align: center;
  padding: 12px 0;
  border-bottom: 1px solid #ddd;
}
.profile_list_appointment_care {
  line-height: 30px;
}
.profile_list_appointment_care .color_care {
  font-size: 12px;
  margin-right: 6px;
}
.profile_list_appointment_date {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}
table.edition_profile {
  width: 100%;
  padding: 18px 0;
}
table.edition_profile tr td:first-child {
  font-weight: bold;
}
table.edition_profile tr {
  width: 100%;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding-left: 18px;
  margin-bottom: 10px;
}

.edition_profile_action {
  margin-bottom: 36px;
}
.edition_profile_action .btn {
  margin: 0 auto;
}
.appointment-child.next {
  display: block;
}
li.olds-appointments_item {
  text-align: left;
  padding-left: 18px;
  line-height: 28px;
}
li.olds-appointments_item > strong {
  display: block;
}
li.olds-appointments_item .color_care {
  font-size: 12px;
  margin-right: 6px;
}
/* MODIFIER VOTRE PROFIL */
.form_users.edit_user {
  border-radius: 10px;
}
.table_childs {
  width: 100%;
  margin: 27px 0;
  border-collapse: collapse;
}
.table_childs td,
.table_childs th {
  text-align: center;
  padding: 6px 0;
  border: 1px solid #ddd;
}
.table_childs tr td:first-child {
  text-align: left;
  padding-left: 9px;
}
.table_childs tr td:nth-child(2),
.table_childs tr th:nth-child(2) {
  display: none;
}
@media screen and (min-width: 640px) {
  .profile_list_appointments {
    width: 640px;
    margin: 0 auto;
  }
  li.olds-appointments_item > strong {
    display: inline-block;
    width: 250px;
  }
  table.edition_profile {
    width: 100%;
  }
  table.edition_profile tr {
    flex-direction: row;
  }
  table.edition_profile tr td:first-child {
    width: 200px;
  }
  .edition_profile_action .btn {
    margin: 0 auto;
  }
  .content_profile {
    width: 640px;
    margin: 0 auto;
    padding: 18px 0;
  }
  .table_childs tr td:nth-child(2),
  .table_childs tr th:nth-child(2) {
    display: table-cell;
  }
}
@media screen and (min-width: 1200px) {
  .profile_menu {
    width: 1200px;
    margin: 0 auto;
  }
}
