<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta
		name="viewport" content="width=device-width, initial-scale=1.0">
		{# Les blocks permettent de créer des zones pouvant être écrasées au besoin par les templates #}
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="shortcut icon" href="/assets/images/chiro.ico" type="image/x-icon">
		<link rel="stylesheet" href="/assets/css/main.css">
		<link href="/assets/fontawesome/css/fontawesome.css" rel="stylesheet">
		<link href="/assets/fontawesome/css/brands.css" rel="stylesheet">
		<link href="/assets/fontawesome/css/solid.css" rel="stylesheet">
		<link rel="stylesheet" href="/assets/css/admin/admin.css">
		<link rel="stylesheet" href="/assets/css/admin/cares.css">

		{% block stylesheets %}
			{# {{ encore_entry_link_tags('app') }} #}
		{% endblock %}
		<script src="/assets/js/admin.js" defer></script>
		{% block javascripts %}
			{# {{ encore_entry_script_tags('app') }} #}
		{% endblock %}
	</head>
	<body>
		{% block header %}
			{{ include('admin/_partials/_header.html.twig') }}
			{# {{ include('admin/_partials/_menu.html.twig') }} #}
		{% endblock %}
		{% include '/_partials/_flash.html.twig' %}
		{% block body %}{% endblock %}
		{% block footer %}{% endblock %}
	</body>
</html>
