{% extends "base.html.twig" %}
{% block title %}Administration
{% endblock %}

{% block header %}
	{% include('admin/_partials/_header.html.twig') %}
{% endblock %}

{% block body %}
	<h1>Page administration</h1>
{% endblock %}

{% block footer %}{% endblock %}
