{% extends "/admin/base.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="/assets/css/admin/calendar.css">
{% endblock %}

{% block javascripts %}
	<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.6/index.global.min.js'></script>
	<script>
		let events = {{ data|raw }};
	</script>
	<script src="/assets/js/calendar.js" defer></script>
{% endblock %}

{% block title %}Administration
{% endblock %}

{% block header %}
	{% include('admin/_partials/_header.html.twig') %}

{% endblock %}

{% block body %}
	<div class="container">
		{% include('admin/_partials/_menu.html.twig') %}
		<div class="icon-menu-calendar">
			<i class="fa-calendar-days fa-solid menu-calendar-mobile"></i>
		</div>
		<div id="calendar"></div>
	</div>
	<div
		class="modal">{# {% include('admin/_partials/form.html.twig') %} #}
	</div>
{% endblock %}

{% block footer %}{% endblock %}
