.content_appointment {
  width: 300px;
  margin: 0 auto;
  padding-bottom: 80px;
}
.content_appointment h3 {
  color: black;
  margin: 20px 0;
}
.content_appointment ul {
  list-style: none;
}
.cares_choice,
.firstCare,
.secondCare {
  background-color: var(--main-bg-color-vanilla);
  height: 50px;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 14px;
  line-height: 48px;
  padding: 0 12px;
  border-bottom: 1px solid #ddd;
}
.cares_choice {
  width: 100px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  border: 1px solid #ddd;
}
.firstCare,
.secondCare {
  display: flex;
  justify-content: space-between;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.firstCare_list,
.secondCare_list {
  display: none;
}
.firstCare_list--open,
.secondCare_list--open {
  display: block;
}
.care_item {
  padding: 9px 12px;
  border: 1px solid #ddd;
  border-top: none;
}
.care_title {
  font-weight: bold;
}
.care_item .fa-clock {
  color: var(--main-color-blue);
}
.care_title,
.care_duration,
.care_price {
  margin-bottom: 6px;
}
.care_btn {
  display: flex;
  justify-content: flex-end;
}
.btn.btn-reservation {
  width: 100px;
  border-radius: 0px;
  margin-top: 6px;
}
.container_slots h3 {
  color: black;
  line-height: 60px;
}
.slots_content {
  width: 330px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 10px 10px 0 0;
}
.slots_title {
  background-color: var(--main-bg-color-vanilla);
  border-bottom: 1px solid #ddd;
  border-radius: 10px 10px 0 0;
  height: 50px;
  line-height: 48px;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
}
.slots_cares {
  border-bottom: 1px solid #ddd;
}
.slots_cares select {
  display: block;
  width: 276px;
  height: 50px;
  margin: 12px auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #eee;
  padding-left: 12px;
  padding-right: 12px;
}
.slots_date-day {
  line-height: 50px;
  padding: 0 12px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}
.slots_date-day:hover {
  cursor: pointer;
}
.slots_date-day span:first-child::first-letter {
  text-transform: uppercase;
}
.slots_times {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 12px 0px;
}
.slots_times--open {
  display: flex;
}
.slots_time {
  width: calc(20% - 7px);
  height: 50px;
  border-radius: 10px;
  background-color: var(--main-bg-color-lavender);
  line-height: 50px;
  text-align: center;
  color: white;
  margin: 6px 0 0 6px;
}
.slots_time:hover {
  cursor: pointer;
}
