footer{
    width: 100%;
}



.img_facade{
    width: 100%;
    height: 100px;
    background: url("../images/facade.png") center ;
}

.container_cabinet{
    height: 300px;
    background: #4E5055;
    padding: 18px;
    
}

.content_cabinet ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.content_cabinet{
    position: relative;
    height: 300px;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    }
.footer_content-btnRdv {
    height: 100px;
    position: relative;
    left: 36px;
}
.btn_footer{
    padding-top: 10px;
    height: 60px;
    width: 280px;
    text-align: center;
    background-color: rgba(255,236,173,1);
    display: block;
    text-decoration: none;
    border-radius: 5px;
}

/*  google maps  */
.map_container{
    height: 300px;
    width: 100%;
}

#map{
    height: 100%;
}
