{% extends '/admin/base.html.twig' %}

{% block title %}Edition des séances{% endblock %}

{% block body %}
<div class="container">

    {% include('admin/_partials/_menu.html.twig') %}
<div class="cares_container">
    <h1>Edition des séances</h1>

    {{ include('admin/cares/_form.html.twig', {'button_label': 'Changement'}) }}
    

    <div class="a_back_cares">
    <a href="{{ path('cares_index') }}">Retour</a>
    </div>

    
    </div>
    </div>
{% endblock %}
