{% extends '/admin/base.html.twig' %}

{% block title %}New Cares{% endblock %}

{% block body %}
    <h1>Create new Cares</h1>

    {{ include('/admin/cares/_form.html.twig') }}

    <a href="{{ path('cares_index') }}">back to list</a>
{% endblock %}
