{% extends '/admin/base.html.twig' %}

{% block title %}Nouvelle séance{% endblock %}

{% block body %}
    <div class="container">
        {% include('admin/_partials/_menu.html.twig') %}
        <div class="cares_container">
        <h1>Création d'une nouvelle séance</h1>

        {{ include('/admin/cares/_form.html.twig') }}
        <div class="a_back_cares">
        <a href="{{ path('cares_index') }}">Retour en arrière</a>
        </div>
        </div>
    </div>
{% endblock %}
