
<p>Bonjour {{user.firstname}} {{user.lastname}}</p>
<p>Rendez vous du {{ appointment.date ? appointment.date|date('Y-m-d') : '' }} à {{ appointment.time ? appointment.time|date('H:i:s') : '' }}<p>
<p>à bien étais pris en compte</p>
