<footer>
<div class="img_facade" alt="Photographie_facade"></div>
<div class="container_cabinet">
    <div class="content_cabinet">
        <h3>Le cabinet</h3>
            <ul>
                <li>53 rue Albert Vanderhaeghen</li><br>
                <li>59320 Haubourdin</li><br>
                <li>Tél: 03.20.95.47.56</li><br>
                <li>rdvchirocharlotte@gmail.com</li>
            </ul>
            <div class="footer_content-btnRdv">
            <a href="" class="btn_footer">PRENDRE RDV directement en ligne</a></div>
</div>

 </div>
    
    
       
</footer>
