<footer>
<div class="footer_img_facade" alt="Photographie_facade"></div>
<div class="footer_container_cabinet">
    <div class="footer_content_cabinet">
        <h3>Le cabinet</h3><br>
            <ul>
                <li>53 rue Albert Vanderhaeghen</li><br>
                <li>59320 Haubourdin</li><br>
                <li>Tél: 03.20.95.47.56</li><br>
                <li>rdvchirocharlotte@gmail.com</li>
            </ul>
            <div class="footer_content-btnRdv">
            <a href="" class="btn_footer">PRENDRE RENDEZ-VOUS <br> directement en ligne</a></div>
    </div>
</div>

 <div class="footer_map_container">
    <div id="map"></div>
</div>

<div class="footer_container_info">
    <div class="footer_content_info">
    <h3>Information Complementaire</h3><br>
        <ul>
             <li>Moyen de transport </li><br>
             <li>Bus - Europe (ligne 63)</li><br>
             <li>Bus - Vanderhaeghen (ligne 54,12 et 58)</li><br>
             <li>Bus - J.Luxembourg (ligne 54)</li>
        </ul><br>
        <ul>
            <li>Parking public</li><br>
            <li>16 rue d'athènes , Haubourdin</li><br>
            <li>Accès Handicapé</li><br>
        </ul>
    
    
    
    </div>

</div>

<div class="footer_container_logo">
    <div class="footer_content_logo">
        <img src="assets/images/logo-afc.png" alt="logo association française de chirpraxie">
        <img src="assets/images/LOGO-IFEC-BLEU-centre.png" alt="logo institut franco-européen de chiropraxie">
        <img src="assets/images/etnat.jpg" alt="logo ecole phytothérapie">
    
    </div>


</div>

<div class="footer_container_links">
 <div class="footer_content_links">
    <ul>
        <li><a href="/">Accueil</a></li><br>
        <li><a href="">la chiropraxie</a></li><br>
        <li><a href="">Votre chiropracteur</a></li><br>
        <li><a href="">les soins</a></li><br>
        <li><a href="">Rembousements</a></li><br>
        <li><a href="">Prix et tarifs</a></li><br>
        <li><a href="">FAQ</a></li><br>
        <li><a href="">Contact</a></li>
    </ul>
 </div>
    <div class="footer_content_i">
    <a href="http://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
    <a href="http://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
    </div>

</div>

<div class="footer_end">
        <div class="footer_content_end">
        <p><a href="">RGPD</a> | <a href="">Mentions légale</a></p><br> 
        <p>*</p><br>
        <p>Site crée par boule et bill</p><br>
        <p>*</p><br>
        <p>Copyright © 2023</p>



        </div>
</div>
    
</footer>
