<div class="menu_container">
	<div class="gradient-color-bar"></div>
	<div class="menu_content">
		<ul class="menu_items">
			<li class="menu_item">
				<a href="#">
					<i class="fa-solid fa-home"></i>
					<span>Accueil</span>
				</a>
			</li>
			<li class="menu_item">
				<a href="#">
					<i class="fa-solid fa-calendar-days"></i>
					<span>Planning</span>
				</a>
			</li>
			<li class="menu_item">
				<a href="#">
					<i class="fa-solid fa-users"></i>
					<span>Patients</span>
				</a>
			</li>
			<li class="menu_item">
				<a href="#">
					<i class="fa-solid fa-file-invoice"></i>
					<span>Factures</span>
				</a>
			</li>
			<li class="menu_item">
				<i class="fa-solid fa-gear"></i>
				<span>Paramètres</span>
				<ul class="parameter_items">
					<li>Ajouter un jours ouvrés</li>
					<li>Ajouter une indisponibilité</li>
				</ul>
			</li>
		</li>
	</ul>
</div></div>
