<div class="menu_container">
	<div class="gradient-color-bar"></div>
	<div class="menu_content">
		<ul class="menu_items">

			<li class="menu_item">
				<a href="#">
					<i class="fa-solid fa-calendar-days"></i>
					<span>
						<a href="{{ path('admin_index') }}">PLANNING</a>
					</span>
				</a>
			</li>
			<li class="menu_item">
				<a href="#">
					<i class="fa-solid fa-users"></i>
					<span>PATIENTS</span>
				</a>
			</li>
			<li class="menu_item">
				<a href="#">
					<i class="fa-solid fa-file-invoice"></i>
					<span>FACTURES</span>
				</a>
			</li>
			<li class="menu_item">
				<i class="fa-solid fa-gear"></i>
				<span>PARAMETRES</span>
				<ul class="submenu parameter_items">
					<li class="submenu_item">Profil Charlotte</li>
					<li class="submenu_item"><a href="{{ path('cares_index')}}">Séances</a> </li>
					<li class="submenu_item">Ajouter un jour ouvré</li>
					<li class="submenu_item">Ajouter une indisponibilité</li>
				</ul>
			</li>
			<li class="menu_item">
				<i class="fa-solid fa-screwdriver-wrench"></i>
				<span>OUTILS</span>
				<ul class="submenu tools_items">
					<li class="submenu_item">Statistiques</li>
					<li class="submenu_item">SMS</li>
					<li class="submenu_item">EMAILS</li>
				</ul>
			</li>
		</li>
	</ul>
</div></div>
