footer {
  width: 100%;
}
footer li {
  height: 36px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}
footer span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}
footer h3 {
  height: 32px;
  font-family: "Montserrat";
  font-weight: bold;
}
footer h4 {
  padding: 12px 0 24px 0;
}
.footer_img_facade {
  width: 100%;
  height: 150px;
  background: url("/assets/images/facade-cabinet.jpg") center/cover no-repeat;
}
.footer_container_cabinet {
  background: var(--main-bg-color-gray);
  padding: 18px;
}
.footer_content_cabinet ul {
  width: 80%;
  list-style: none;
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
}
.footer_content_cabinet {
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.btn_footer {
  width: 80%;
  margin: 12px auto;
  line-height: 20px;
  text-align: center;
  color: #000000;
  font-weight: bold;
  display: block;
  text-decoration: none;
  background-color: var(--main-bg-color-vanilla);
  padding: 18px;
  border-radius: 10px;
}
.footer_map_container {
  height: 300px;
  width: 100%;
}
#map {
  height: 100%;
}
.footer_container_info {
  background: #4e5055;
  padding: 18px;
  color: white;
  width: 100%;
}
.footer_content_info {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.footer_container_info ul {
  list-style: none;
}
/* container des images  */
.footer_container_logo {
  padding-top: 10px;
  height: 100px;
  width: 100%;
}
.footer_container_logo img {
  height: 80px;
}
.footer_content_logo {
  display: flex;
  justify-content: space-around;
}
/* container des différents lien et logo instagram et facebook */
.footer_container_links {
  background-color: #b260b4;
  display: grid;
  color: #ffffff;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 2px solid #ffffff;
}
.footer_content_links {
  padding: 18px;
}
.footer_content_links ul,
a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}
.footer_content_i {
  grid-column: 2/2;
  display: flex;
  flex-direction: column;
  font-size: 32px;
  color: white;
  padding: 18px;
  justify-content: space-evenly;
  align-items: center;
}
.footer_end {
  background-color: var(--main-bg-color-lavender);
  padding: 18px;
  color: #ffffff;
}
.footer_content_end {
  width: 230px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_content_end span {
  line-height: 26px;
  text-align: center;
}
/*   première média query    */
/* Pourquoi min-width: 532px ?!!! */
@media screen and (min-width: 760px) {
  .footer_img_facade {
    height: 250px;
  }
  .footer_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer_container_cabinet {
    width: 50%;
  }
  .footer_map_container {
    height: 372px;
    width: 50%;
  }
  .footer_content-btnRdv {
    width: 230px;
  }
  .footer_container_info ul:nth-of-type(1) {
    padding-right: 20px;
  }
  .footer_content_info div {
    display: flex;
    flex-direction: row;
  }
  .footer_container_info div ul {
    width: 50%;
  }
  .footer_content_info h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 22px;
  }
  .footer_content_info h4 {
    width: 100%;
  }
  .footer_container_links {
    display: flex;
    flex-direction: column;
  }
  .footer_content_logo {
    justify-content: space-evenly;
  }
  .footer_content_links ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer_content_links li {
    padding: 0 20px;
  }
  .footer_content_links {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
  }
  .footer_content_i {
    flex-direction: row;
    justify-content: center;
  }
  .footer_content_i a {
    padding: 0 10px;
  }
  .footer_content_end {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .footer_content_end {
    width: auto;
    margin: auto;
  }
}
/* deuxième media query */
@media screen and (min-width: 900px) {
  .footer_container_cabinet {
    width: 33.3%;
  }
  .footer_map_container {
    width: 33.4%;
  }
  .footer_container_info {
    width: 33.3%;
  }
  .footer_container_info h4 {
    padding-left: 14px;
  }
  .footer_content_info {
    flex-direction: column;
  }
  .footer_content_info ul {
    width: 336px;
    margin: 0 auto;
  }
  .footer_content_cabinet h3 {
    height: 48px;
  }
  .footer_content_i {
    padding-top: 0;
  }
  @media screen and (min-width: 1200px) {
    .footer_container {
      background-color: var(--main-bg-color-gray);
    }
    .footer_content,
    .footer_container_logo,
    .footer_container_links,
    .footer_end {
      max-width: 1200px;
      margin: 0 auto;
    }
    .footer_container_links {
      border-bottom: 0px solid white;
    }
    .bg-lavender,
    .bg-lavender-top {
      background-color: var(--main-bg-color-lavender);
    }
    .bg-lavender-top {
      border-bottom: 2px solid white;
    }
  }
}
