{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="/assets/css/_partials/form.css">
{% endblock %}

{% block title %}New Childs
{% endblock %}

{% block body %}
	<h1>Ajouter un enfant</h1>

	{{ include('users/_form.html.twig') }}

	<a href="{{ path('profile_show') }}">Retour à la liste des enfants</a>
{% endblock %}
