{% extends 'base.html.twig' %}

{% block title %}Edit Childs{% endblock %}

{% block body %}
    <h1>Edit Childs</h1>

    {{ include('childs/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_childs_index') }}">back to list</a>

    {{ include('childs/_delete_form.html.twig') }}
{% endblock %}
